<div fxLayout="column" fxLayoutAlign="space-around stretch" >
  <div fxLayout="row" fxLayoutAlign="start center" >
    <spinner-button [options]="saveButtonOptions" (click)="onSave()"></spinner-button>
    <spinner-button [options]="rejectButtonOptions" (click)="decline()"></spinner-button>
    <button mat-raised-button routerLink="/access-requests">Zurück</button>
  </div>
  <br>
  <mat-form-field>
    <input matInput placeholder="Anfrage von:" [value]="request?.name" readonly>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Einsicht ab:" [value]="request?.since | date:'dd.MM.yyyy'" readonly>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Kategorie" [value]="request?.title === undefined ? 'Alles' : request?.title" readonly>
  </mat-form-field>
  <h2 class="mat-h2">Behandlungen</h2>
  <table mat-table [dataSource]="ds" class="mat-elevation-z8">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Bezeichnung </th>
      <td mat-cell *matCellDef="let element" data-label="Behandlung"> {{element.item.diagnose.title}} </td>
    </ng-container>

    <ng-container matColumnDef="diagnose">
      <th mat-header-cell *matHeaderCellDef> Diagnose </th>
      <td mat-cell *matCellDef="let element" data-label="Diagnose">
        <mat-checkbox [(ngModel)]="element.treatment"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="recipe">
      <th mat-header-cell *matHeaderCellDef> Rezept </th>
      <td mat-cell *matCellDef="let element" data-label="Rezept">
        <mat-checkbox [(ngModel)]="element.recipe"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="attestation">
      <th mat-header-cell *matHeaderCellDef> Arbeitsunfähigkeit </th>
      <td mat-cell *matCellDef="let element" data-label="Arbeitsunfähigkeit">
        <mat-checkbox [(ngModel)]="element.attestation"></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['title', 'diagnose', 'recipe', 'attestation']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['title', 'diagnose', 'recipe', 'attestation'];"></tr>
  </table>
</div>
