
<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="70">
            <input matInput (keyup)="treatmentList.filter = $event.target.value" placeholder="Filter">
        </mat-form-field>
        <div>
            <spinner-button [options]="reloadButtonOptions" (click)="reloadData()"></spinner-button>
        </div>
    </div>

    <app-treatment-list #treatmentList [treatments]="treatments" (onSelected)="onSelected($event)"></app-treatment-list>
<div>
  