<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Diagnose
      </mat-panel-title>
      <mat-panel-description>
        Diagnose erstellen
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
        <input matInput placeholder="Bezeichnung" [(ngModel)]="treatment?.diagnose.title"></input>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Beschreibung" [(ngModel)]="treatment?.diagnose.description"></textarea>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rezept
      </mat-panel-title>
      <mat-panel-description>
        Rezept erstellen
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Wirkstoff" [(ngModel)]="treatment?.prescription.drug"></input>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Dosierung" [(ngModel)]="treatment?.prescription.dosage"></input>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Notiz" [(ngModel)]="treatment?.prescription.note"></textarea>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Arbeitsunfähigkeit
      </mat-panel-title>
      <mat-panel-description>
        Arbeitsunfähigkeitsbescheinigung erstellen
      </mat-panel-description>
    </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" [value]="treatment?.attestation.incapable_since"
               placeholder="Beginn der Arbeitsunfähigkeit" [formControl]="date" readonly>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Ende der Arbeitsunfähigkeit"
               [value]="treatment?.attestation?.incapable_until" [formControl]="serializedDate" readonly>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>

