<div fxLayout="column" fxLayoutAlign="center center">
  <h1 class="mat-display-1">Health Ledger</h1>
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Wählen Sie zur Identifizierung das Health Ledger Zertifikat auf Ihrem Gerät aus</mat-card-subtitle>
    <mat-card-content>
      <button mat-raised-button color="accent" (click)="fileInput.click()">
          <mat-icon>fingerprint</mat-icon>
          <span>Zertifikat auswählen</span>
          <input #fileInput type="file" (change)="onChange($event)" style="display:none;" />
      </button>
      <mat-spinner *ngIf=showSpinner class="hl-spinner"></mat-spinner>
      
    </mat-card-content>
  </mat-card>
</div>
