<h1 class="mat-display-1">Health Ledger</h1>


<mat-form-field class="example-full-width" *ngIf="!editable && treatment?.category != null">
  <input matInput placeholder="Kategorie" value={{treatment?.category}} readonly>
</mat-form-field>
<mat-form-field *ngIf="editable">
  <mat-select placeholder="Kategorie" [formControl]="detailsCategory" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let item of details" [value]="details">
      {{item.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="detailsCategory.hasError('required')">Bitte wählen Sie eine Kategorie</mat-error>
  <mat-hint>{{detailsCategory.value?.name}}</mat-hint>
</mat-form-field>

<mat-form-field *ngIf="editable || (!editable && treatment?.diagnose != null)">
  <textarea matInput placeholder="Diagnose" value={{treatment?.diagnose}} [readonly]="!editable"></textarea>
</mat-form-field>

<mat-form-field *ngIf="editable || (!editable && treatment?.prescription != null)">
  <textarea matInput placeholder="Rezept" value={{treatment?.prescription?.note}} [readonly]="!editable"></textarea>
</mat-form-field>


<div fxLayout="row" *ngIf="!editable && treatment?.attestation != null">
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" [value]="treatment?.attestation?.incapable_since"
           placeholder="Beginn der Arbeitsunfähigkeit" [formControl]="date"
           readonly>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Ende der Arbeitsunfähigkeit" [formControl]="serializedDate"
           readonly>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div>

<mat-accordion *ngIf="editable">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rezept
      </mat-panel-title>
      <mat-panel-description>
        Rezept ausstellen
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <textarea matInput placeholder="Rezept"></textarea>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion *ngIf="editable">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Arbeitsunfähigkeit
      </mat-panel-title>
      <mat-panel-description>
        Arbeitsunfähigkeitsbescheinigung ausstellen
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" [value]="treatment?.attestation?.incapable_since"
             placeholder="Beginn der Arbeitsunfähigkeit" [formControl]="date" readonly>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Ende der Arbeitsunfähigkeit"
             [value]="treatment?.attestation?.incapable_until" [formControl]="serializedDate" readonly>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
