<mat-accordion *ngIf="treatment?.prescription !== null">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rezept
      </mat-panel-title>
      <mat-panel-description>
        Rezept {{editable? "ausstellen" : "einsehen"}}
      </mat-panel-description>
    </mat-expansion-panel-header>


    <mat-form-field *ngIf="editable">
      <textarea matInput placeholder="Wirkstoff"></textarea>
    </mat-form-field>

    <mat-form-field *ngIf="(!editable && treatment?.prescription != null)">
      <textarea matInput placeholder="Wirkstoff" value={{treatment?.prescription?.drug}} readonly></textarea>
    </mat-form-field>

    <mat-form-field *ngIf="editable">
      <textarea matInput placeholder="Dosierung"></textarea>
    </mat-form-field>

    <mat-form-field *ngIf="(!editable && treatment?.prescription != null)">
      <textarea matInput placeholder="Dosierung" value={{treatment?.prescription?.dosage}} readonly></textarea>
    </mat-form-field>

    <mat-form-field *ngIf="editable">
      <textarea matInput placeholder="Notiz"></textarea>
    </mat-form-field>

    <mat-form-field *ngIf="(!editable && treatment?.prescription != null)">
      <textarea matInput placeholder="Notiz" value={{treatment?.prescription?.note}} readonly></textarea>
    </mat-form-field>


  </mat-expansion-panel>
</mat-accordion>



