<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Medikamentenname" value="Ebastel" readonly>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Datum" value="14.05.2018" readonly>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Dosierung" value="2x tgl." readonly>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Arzt" value="Dr. Otto" readonly>
  </mat-form-field>
  <br>
  <button mat-raised-button>Einlösen</button>
  <button mat-raised-button>Abbrechen</button>
</form>
