<div *ngIf="availableDevices">
  <select (change)="onDeviceSelectChange($event.target.value)">
    <!--<option value="" [selected]="!selectedDevice">No Device</option>-->
    <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>
  </select>
</div>

<div fxLayout="column" fxLayoutAlign="center center">

  <zxing-scanner #scanner fxFlex class="scanner" start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>

  <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center" >
      <button mat-raised-button (click)="onCancel()">Abbrechen</button>
    <button mat-raised-button (click)="onSimulation()" *ngIf="!hasCameras" >Simulieren</button>
  </div>

</div>
