<div *ngIf="availableDevices">
  <select (change)="onDeviceSelectChange($event.target.value)">
    <!--<option value="" [selected]="!selectedDevice">No Device</option>-->
    <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>
  </select>
</div>

<div fxLayout="column" fxLayoutAlign="center center">

  <zxing-scanner #scanner fxFlex class="scanner" start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>

  <mat-card *ngIf="!hasCameras">
    <mat-card-title>Simulation</mat-card-title>
    <mat-card-content>
      <mat-form-field>
          <textarea matInput placeholder="PublicKey" [(ngModel)]="customKey"></textarea>
      </mat-form-field>
      <button mat-raised-button (click)="onSimulation()">Simulieren</button>
    </mat-card-content>
  </mat-card>
<br/>
  <button mat-raised-button (click)="onCancel()">Abbrechen</button>

</div>
