<mat-accordion *ngIf="treatment?.diagnose !== null">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Diagnose
      </mat-panel-title>
      <mat-panel-description>
        Diagnose {{editable? "ausstellen" : "einsehen"}}
      </mat-panel-description>
    </mat-expansion-panel-header>


    <mat-form-field class="example-full-width" *ngIf="!editable">
      <input matInput placeholder="Kategorie" value={{treatment?.diagnose?.category}} readonly>
    </mat-form-field>

    <mat-form-field *ngIf="editable">
      <mat-select placeholder="Kategorie" [formControl]="detailsCategory" required>
        <mat-option *ngFor="let item of category" [value]="category">
          {{item}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="detailsCategory.hasError('required')">Bitte wählen Sie eine Kategorie</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Diagnose" value={{treatment?.diagnose.diagnose}} [readonly]="!editable"></textarea>
    </mat-form-field>

  </mat-expansion-panel>
</mat-accordion>
