

<mat-accordion *ngIf="treatment?.attestation !== null">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Arbeitsunfähigkeit
      </mat-panel-title>
      <mat-panel-description>
        Arbeitsunfähigkeitsbescheinigung {{editable? "ausstellen" : "einsehen"}}
      </mat-panel-description>
    </mat-expansion-panel-header>


    <div *ngIf="editable">
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" [value]="treatment?.attestation?.incapable_since"
               placeholder="Beginn der Arbeitsunfähigkeit" [formControl]="date" readonly>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Ende der Arbeitsunfähigkeit"
               [value]="treatment?.attestation?.incapable_until" [formControl]="serializedDate" readonly>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      </mat-form-field>
    </div>

    <div fxLayout="row" *ngIf="!editable">
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" [value]="treatment?.attestation?.incapable_since"
               placeholder="Beginn der Arbeitsunfähigkeit" [formControl]="date"
               readonly>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Ende der Arbeitsunfähigkeit" [formControl]="serializedDate"
               readonly>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
</mat-accordion>
