<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Medikamentenname" value="{{treatment?.prescription?.drug}}" readonly>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Datum" value="{{treatment?.prescription?.until_date}}" readonly>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Dosierung" value="{{treatment?.prescription?.dosage}}" readonly>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Arzt" value="{{treatment?.doctor_name}}" readonly>
  </mat-form-field>
  <button mat-raised-button>Einlösen</button>
  <button mat-raised-button>Abbrechen</button>
</form>
