<div fxLayout="column" fxLayoutAlign="space-around stretch" >
    <div fxLayout="row" fxLayoutAlign="start center" >
      <spinner-button [options]="saveButtonOptions" (click)="onSave()"></spinner-button>
      <button mat-raised-button color="accent" routerLink="/access-requests">Zurück</button>
    </div>
    <br>
  <div fxLayout="row">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Anfrage von:" [value]='stateService.user.name' readonly>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Anfrage an:" [value]="request.name" readonly>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Einsicht ab:" [(ngModel)]="request.since" readonly>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Kategorie" [(value)]="request.title" required>
        <mat-option *ngFor="let item of details" [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <mat-checkbox [(ngModel)]="request.treatment">
        Diagnose
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="request.recipe">
        Rezept
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="request.attestation">
        Arbeitsunfähigkeit
      </mat-checkbox>
    </div>
  </div>
</div>
