<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="ds" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element" data-label="Name"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="publickey">
    <th mat-header-cell *matHeaderCellDef> Public Key </th>
    <td mat-cell *matCellDef="let element" data-label="Public Key"> {{element.publicKey}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let element" data-label="Details">
      <button mat-raised-button (click)="selectElement(element?.id)"> {{buttonName}} </button>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
<button mat-raised-button (click)="changeView()">Einsichtsanfrage stellen</button>
